In [ ]:
import pandas as pd

df= pd.read_csv("orders.csv")

In [ ]:
print(df.head()) # Sorf of gives idea about the data in the file

   OrderID   CustomerName       Product     Category  Quantity   Price  \
0     1001     John Smith        Laptop  Electronics         1  1200.0
1     1002      Sarah Lee    Headphones  Electronics         2   150.0
2     1003       Ali Khan  Office Chair    Furniture         1   300.0
3     1004     Alice Wong     Desk Lamp    Furniture         3    45.0
4     1005  Carlos Mendez      Keyboard  Electronics         2    80.0

    OrderDate Shipped    Country
0  2024-06-01     Yes        USA
1  2024-06-03      No     Canada
2  2024-06-04     Yes        UAE
3  2024-06-05     Yes  Singapore
4  2024-06-06      No     Mexico

In [ ]:
df.tail() # PRINTS THE LAST 5 ROWS OF THE DATA FRAME

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   OrderID       40 non-null     int64
 1   CustomerName  40 non-null     object
 2   Product       40 non-null     object
 3   Category      40 non-null     object
 4   Quantity      40 non-null     int64
 5   Price         40 non-null     float64
 6   OrderDate     40 non-null     object
 7   Shipped       40 non-null     object
 8   Country       40 non-null     object
dtypes: float64(1), int64(2), object(6)
memory usage: 2.9+ KB

In [7]:
df.describe()
df.columns
df.index

RangeIndex(start=0, stop=40, step=1)

In [8]:
df.columns

Index(['OrderID', 'CustomerName', 'Product', 'Category', 'Quantity', 'Price',
       'OrderDate', 'Shipped', 'Country'],
      dtype='object')

In [ ]:
df["Country"] # Note when passing any column it should be case sensitive like country wont works

len(df["Country"])

set(df["Country"]) # gives unique value of countries lists and remove duplicates

df [["Country","Product"]]

In [ ]:
df.iloc[0,1]  # This is used for accessing the rows of the dataframe like [0] will have all the entries of 1 row

'John Smith'

In [ ]:
#  Now starts with filter how to get selective data

df[df["Category"]=="Electronics"] # Used to search the where category == electronics its the syntax

df[(df["Category"]=="Electronics") & (df["Country"]=="France") & (df["Product"]=="Webcam")]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France

In [28]:
df[(df["Category"]=="Electronics") | (df["Country"]=="France")]  # | this acts as or either category=electronics or country=france

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco
31,1032,Thomas M端ller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea

In [ ]:
df[(df["Category"]=="Electronics") & (df["Quantity"]>1)] # Give output where category = electronics and quantity > 2

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea

In [ ]:
df[df["CustomerName"].str.startswith("A")]   # Give me data where customername starts with A


df[(df["CustomerName"].str.startswith("A")) & (df["Quantity"]>3)] # more filetred

Empty DataFrame
Columns: [OrderID, CustomerName, Product, Category, Quantity, Price, OrderDate, Shipped, Country]
Index: []

In [44]:
df[df["CustomerName"].str.endswith("z")] # Endswith

df[(df["CustomerName"].str.endswith("z")) & (df["Quantity"]>3)]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain

In [ ]:
df[df["Country"].isin(["USA","Sweden","Germany"])]  # .isin Checks the array of countries exists in country column

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,Germany
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden
31,1032,Thomas M端ller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [ ]:
# Now Delete and update the values in the table or data

df.loc[df["CustomerName"]=="John Smith"]  # .loc searches the whole data for customername=Jhon smith

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,1,1200.0,2024-06-01,Yes,USA

In [49]:
df.loc[df["CustomerName"]=="John Smith"]

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,5,1200.0,2024-06-01,Yes,USA

In [ ]:
df.loc[df["CustomerName"]=="John Smith", "Quantity"]=5  # This line will change the quantity to 5 for same jhon above the quantity is 1 but below is quantity 5

df.loc[df["CustomerName"]=="John Smith"] # See i have run this above cell where quantity is 5 after setting the quantity=5 now its really chnaged the data in dataframe

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,5,1200.0,2024-06-01,Yes,USA

In [50]:
# Deleting the data 

df.tail()

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
39,1040,Anna Ivanova,Desk Clock,Furniture,1,35.0,2024-07-11,Yes,Ukraine

In [ ]:
# df=df.drop(39)  # Deletes the whole row of index 39

df.tail() # This dont show the last row as 39

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea

In [ ]:
# Clean Data

df.dropna() # This wil delete the na values and retrurns new dataframe

df.fillna({"OrderId:0"}, inplace=True) # This will fill the the entries of na with 0 and modifies the original df

In [ ]:
# Change Column name

df.rename(columns={"OrderID": "Order ID"}, inplace=True)

In [54]:
df["Country"].value_counts()

Country
USA             3
Japan           3
South Korea     3
UAE             2
Canada          2
Italy           2
UK              2
France          2
Germany         2
Singapore       1
Mexico          1
India           1
Australia       1
China           1
Spain           1
Egypt           1
Poland          1
Saudi Arabia    1
Brazil          1
Pakistan        1
Sweden          1
Argentina       1
Russia          1
Morocco         1
Colombia        1
Portugal        1
Iran            1
Name: count, dtype: int64

In [ ]:
df.groupby("Country")["Price"].sum()  # Group by the price of the countries for argentina total price is 22

Country
Argentina         22.0
Australia         12.0
Brazil            95.0
Canada           153.5
China            280.0
Colombia          42.0
Egypt              8.0
France           160.0
Germany          175.0
India            180.0
Iran              28.0
Italy             19.5
Japan            105.0
Mexico            80.0
Morocco           32.0
Pakistan           4.0
Poland            45.0
Portugal         125.0
Russia             2.5
Saudi Arabia     120.0
Singapore         45.0
South Korea      348.0
Spain             25.0
Sweden            28.0
UAE              305.0
UK               518.0
USA             1265.8
Name: Price, dtype: float64

In [56]:
df.sort_values("Price",ascending=False)

,OrderID,CustomerName,Product,Category,Quantity,Price,OrderDate,Shipped,Country
0,1001,John Smith,Laptop,Electronics,5,1200.0,2024-06-01,Yes,USA
6,1007,Emily Davis,Standing Desk,Furniture,1,450.0,2024-06-08,Yes,UK
2,1003,Ali Khan,Office Chair,Furniture,1,300.0,2024-06-04,Yes,UAE
14,1015,Lisa Chen,Bookshelf,Furniture,1,280.0,2024-06-16,No,China
7,1008,James Park,Monitor,Electronics,2,220.0,2024-06-09,No,South Korea
11,1012,Raj Patel,File Cabinet,Furniture,2,180.0,2024-06-13,No,India
1,1002,Sarah Lee,Headphones,Electronics,2,150.0,2024-06-03,No,Canada
31,1032,Thomas M端ller,Document Scanner,Electronics,1,140.0,2024-07-03,Yes,Germany
36,1037,Carlos Santos,Wireless Earbuds,Electronics,1,125.0,2024-07-08,Yes,Portugal
19,1020,Fatima Al-Zahra,Whiteboard,Furniture,1,120.0,2024-06-21,Yes,Saudi Arabia
28,1029,Seo-yeon Kim,Wireless Keyboard,Electronics,1,110.0,2024-06-30,Yes,South Korea
21,1022,Isabella Silva,Bluetooth Speaker,Electronics,1,95.0,2024-06-23,Yes,Brazil
10,1011,Sophie Martin,Webcam,Electronics,1,85.0,2024-06-12,Yes,France
4,1005,Carlos Mendez,Keyboard,Electronics,2,80.0,2024-06-06,No,Mexico
25,1026,Chloe Dubois,Paper Shredder,Electronics,1,75.0,2024-06-27,Yes,France
35,1036,Emma Thompson,Desk Lamp with USB,Furniture,1,68.0,2024-07-07,No,UK
17,1018,Michael Brown,Desk Organizer,Furniture,1,65.0,2024-06-19,No,USA
34,1035,Yuki Yamamoto,Monitor Stand,Electronics,1,55.0,2024-07-06,Yes,Japan
3,1004,Alice Wong,Desk Lamp,Furniture,3,45.0,2024-06-05,Yes,Singapore
16,1017,Anna Kowalski,Wireless Mouse,Electronics,2,45.0,2024-06-18,Yes,Poland
32,1033,Sofia Rodriguez,Desk Drawer Organizer,Furniture,1,42.0,2024-07-04,No,Colombia
9,1010,Takeshi Nakamura,Mouse,Electronics,1,35.0,2024-06-11,Yes,Japan
22,1023,Oliver Schmidt,Office Plant,Furniture,2,35.0,2024-06-24,Yes,Germany
30,1031,Amira Hassan,USB Hub,Electronics,1,32.0,2024-07-02,Yes,Morocco
24,1025,Lucas Anderson,Tablet Stand,Electronics,1,28.0,2024-06-26,Yes,Sweden
37,1038,Leila Mansouri,Desk Pad,Furniture,1,28.0,2024-07-09,Yes,Iran
13,1014,Diego Rodriguez,USB Drive,Electronics,5,25.0,2024-06-15,Yes,Spain
26,1027,Miguel Torres,Desk Chair Mat,Furniture,1,22.0,2024-06-28,No,Argentina
38,1039,Daniel Kim,Power Strip,Electronics,2,18.0,2024-07-10,No,South Korea
29,1030,Giuseppe Romano,Desk Calendar,Furniture,1,18.0,2024-07-01,No,Italy
18,1019,Yuki Tanaka,Calculator,Electronics,1,15.0,2024-06-20,Yes,Japan
12,1013,Emma Wilson,Stapler,Stationery,3,12.0,2024-06-14,Yes,Australia
15,1016,Ahmed Hassan,Printer Paper,Stationery,20,8.0,2024-06-17,Yes,Egypt
5,1006,Nora Ibrahim,Notebook,Stationery,5,5.0,2024-06-07,Yes,UAE
23,1024,Zara Ahmed,Sticky Notes,Stationery,15,4.0,2024-06-25,No,Pakistan
20,1021,David Thompson,Highlighters,Stationery,8,3.5,2024-06-22,No,Canada
27,1028,Nina Petrov,Binder Clips,Stationery,12,2.5,2024-06-29,Yes,Russia
8,1009,Maria Rossi,Pen,Stationery,10,1.5,2024-06-10,Yes,Italy
33,1034,Alex Johnson,Index Cards,Stationery,100,0.8,2024-07-05,Yes,USA

In [ ]:
df.to_csv("new_file.csv", index=False )  # To save file with name new_csv file and if index= true the values of index will also be stored